body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    weight: 400, 500;
    color: #2b283a;
    margin: 0;
}
header{
    padding: 15px 20px;
    background: purple;

}
h1{

}
h3{

}
main{

}
section{

}
footer{
    background: purple;

}