body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400, 500;
    color: #2b283a;
    margin: 0;
} 
header{
    padding: 15px 20px;
    background: #5f29a3;
    padding: 45px 0;

}
.container{
    width: 620;
    margin: 0 auto;
}
h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;

}
h3{
    color: #d0aaff;
    font-size: 20px;
    margin: 0;
}

h2{
    font-size: 24px;
    margin: 0;
}
main{

}
section{
    padding: 45px 0;
}
.s2{
    background-color: #5f29a3;
    color: whitesmoke;
}
/* images */
.img{
    width: 100%;
}
.imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.s2-imgs{
    width: 300px;
    border-radius: 4.6px;
}
/* links */
a{
    color: #ef5839;
    text-decoration: underline dotted;

}
a:hover{
    color: #d4b44c;
}
footer{
    color: #5f29a3;
    text-align: center;
    padding: 45px 0;

}
#buy{
    color:whitesmoke;
    background-color: #5f29a3;
}
#buy:hover{
    background-color: #f3e885;
    color: #2b283a;
}
#info{
    color:#5f29a3;
    background-color: whitesmoke;
}
.lnk{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    border: none;

}

